{% extends "base.html" %}

{% block extraCss %}
<link rel="stylesheet" href="/static/assets/css/Ultimate-Sidebar-Menu.css">
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
    crossorigin="anonymous" />

{% endblock %}

{% block content %}
<h1 class="mt-4">Historial de Usuario "{{usuario.name}}"</h1>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Calculos registrados
    </div>
    <div class="card-body">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}.
        </div>
        {% endfor %}

        {% endif %}
        {% endwith %}
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de Estructura</th>
                        <th>Fecha / Hora</th>
                        <th>Diseños</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Partidor Proporcional</td>
                        <td>14/12/2020 - 10:25am</td>
                        <td><a href="/historial/{{usuario.id}}"><i class="fas fa-eye"></i> Ver</a></td>
                        <td><a href="#" onclick="deleteEstructura(1)"><i class="fas fa-trash"></i> Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extraJs %}

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/static/assets/js/history.js"></script>
{% endblock %}