{% extends "base.html" %}

{% block extraCss %}
<link rel="stylesheet" href="/static/assets/css/Ultimate-Sidebar-Menu.css">

<style>
    .caudal {
        padding-left: 10px !important;
        padding-right: 3px !important;
    }
</style>
{% endblock %}


{% block content %}
<h1 class="mt-4">Partidor Proporcional </h1>
<hr style="border-top: 3px solid rgba(49, 165, 214, 0.5) !important">

<div class="row">
    <div class="col-md-7 pl-1 pr-0">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="/partidor" method="POST" id="form" autocomplete="off" class="needs-validation"
                            novalidate>
                            <h1 class="display-1" style="font-size: 20px;font-weight:bold;">Sección Transversal del
                                Canal</h1>

                            <hr class="mt-0">

                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="mt-2">Seleccione el tipo de sección</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="inlineCheckbox1" name="tipo" {%
                                            if data %} {% if data.tipo=='rectangular' %} checked {% endif %} {% endif %}
                                            value="rectangular" {% if history %} disabled {% endif %}>
                                        <label class="form-check-label" for="inlineCheckbox1">Rectangular</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="inlineCheckbox2" name="tipo"
                                            value="trapezoidal" {% if data %} {% if data.tipo=='trapezoidal' %} checked
                                            {% endif %} {% endif %} {% if history %} disabled {% endif %}>
                                        <label class="form-check-label" for="inlineCheckbox2">Trapezoidal</label>
                                    </div>
                                </div>
                            </div>
                            <hr class="oculto_tipo d-none">
                            <div class="form-row oculto_tipo d-none">
                                <div class="col-md-6">
                                    <label class="mt-2">Seleccione el tipo de partidor</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="tipoPart" name="tipoPart" {% if
                                            data %} {% if data.tipoPart=='fijo' %} checked {% endif %} {% endif %}
                                            value="fijo" {% if history %} disabled {% endif %} required>
                                        <label class="form-check-label" for="tipoPart">Fijo</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="tipoPart2" name="tipoPart"
                                            value="movil" {% if data %} {% if data.tipoPart=='movil' %} checked {% endif
                                            %} {% endif %} {% if history %} disabled {% endif %} required>
                                        <label class="form-check-label" for="tipoPart2">Móvil</label>
                                        <div class="invalid-feedback">
                                            Debe seleccionar el tipo de partidor
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-1 mb-2 oculto d-none">
                            <h1 class="oculto d-none" style="font-size: 20px;font-weight:bold;">
                                Canal Entrante (Ce)
                            </h1>
                            <hr class="mt-0 mb-2 oculto d-none">

                            <div class="form-row oculto d-none">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="caudal">Caudal Qe (m³/s)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.caudal_entrante}}" {% endif %} required
                                            class="form-control caudal" id="caudal_entrante" name="caudal_entrante"
                                            type="number" min="0.0001" max="0.5" step="any" placeholder="Qe [≤ 0.5]" />
                                        <div class="caudal-error invalid-feedback">Ingrese un valor de caudal mayor a
                                            cero y menor o
                                            igual a
                                            0.5 m³/s</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="base_entrante">Base del canal be (m)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.base_entrante}}" {% endif %} required class="form-control"
                                            id="base_entrante" name="base_entrante" type="number" min="0.0001"
                                            step="any" placeholder="b [> 0]" />
                                        <div class="invalid-feedback">Ingrese un valor de Base del canal mayor a cero
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="tirante_entrante">Tirante ye (m)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.tirante_entrante}}" {% endif %} required class="form-control"
                                            id="tirante_entrante" name="tirante_entrante" type="number" min="0.0001"
                                            step="any" placeholder="y [> 0] " />
                                        <div class="invalid-feedback">Ingrese un valor de tirante mayor a cero</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="pendiente">Pendiente s</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.pendiente}}" {% endif %} required class="form-control"
                                            id="pendiente" name="pendiente" type="number" min="0.0001" step="any"
                                            placeholder="s [> 0] " />
                                        <div class="invalid-feedback">Ingrese un valor de pendiente mayor a cero</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row oculto d-none">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="rugosidad" class="small mb-1">Rugosidad n</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.rugosidad}}" {% endif %} required min="0.0001" step="any"
                                            type="number" name="rugosidad" id="rugosidad" class="form-control mt-md-3"
                                            placeholder="n [> 0]">
                                        <div class="invalid-feedback">Ingrese un valor de rugosidad mayor a cero</div>
                                    </div>
                                </div>
                                <div class="col-md-3 trape">
                                    <div class="form-group">
                                        <label for="talud_entrante" class="small mb-1">Talud z</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.talud_entrante}}" {% endif %} required min="0.0001" step="any"
                                            type="number" name="talud_entrante" id="talud_entrante"
                                            class="trape-input form-control mt-md-3" placeholder="z [> 0]">
                                        <div class="invalid-feedback">Ingrese un valor de talud mayor a cero</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="long_vertedero" class="small mb-1">Longitud vertedero <br>Lv
                                            (m)</label>
                                        <input {% if data %} value="{{data.long_vertedero}}" {% endif %} disabled
                                            required min="0.0001" step="any" type="number" name="long_vertedero"
                                            id="long_vertedero" class="form-control" placeholder="Lv [> 0]">
                                        <div class="invalid-feedback">Ingrese un valor de longitud mayor a cero </div>
                                    </div>
                                </div>
                                <div class="col-md-3 trape">
                                    <div class="form-group">
                                        <label for="angulo_transicion" class="small mb-1">Ángulo de transición (º) [12.5
                                            ≤ θ ≤
                                            22.5] </label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.angulo_transicion}}" {% endif %} required min="12.5"
                                            max="22.5" step="any" type="number" name="angulo_transicion"
                                            id="angulo_transicion" class="trape-input form-control" placeholder="θ">
                                        <div class="invalid-feedback">Ingrese un valor de angulo θ entre 12.5º y 22.5º
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="cota_a" class="small mb-1">Cota A (m)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.cota_a}}" {% endif %} required min="0" step="any"
                                            type="number" name="cota_a" id="cota_a" class="form-control"
                                            placeholder="Cota [≥ 0]">
                                        <div class="invalid-feedback">Ingrese un valor de cota A mayor o igual a cero
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="mt-0 mb-2 oculto d-none">
                            <h1 class="oculto d-none" style="font-size: 20px;font-weight:bold;">
                                Canal Pasante (Cp)
                            </h1>
                            <hr class="mt-0 mb-2 oculto d-none">

                            <div class="form-row oculto d-none">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="caudal_pasante">Caudal Qp (m³/s)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.caudal_pasante}}" {% endif %} required
                                            class="form-control caudal" id="caudal_pasante" name="caudal_pasante"
                                            type="number" min="0.0001" max="0.5" step="any" placeholder="Qp [≤ 0.5]" />
                                        <div class="caudal-error invalid-feedback">Ingrese un valor de caudal mayor a
                                            cero y menor o
                                            igual a
                                            0.5 m³/s</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="base_pasante">Base del canal bp (m)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.base_pasante}}" {% endif %} required class="form-control"
                                            id="base_pasante" name="base_pasante" type="number" min="0.0001" step="any"
                                            placeholder="b [> 0]" />
                                        <div class="invalid-feedback">Ingrese un valor de Base del canal mayor a cero
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="tirante_pasante">Tirante yp (m)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.tirante_pasante}}" {% endif %} required class="form-control"
                                            id="tirante_pasante" name="tirante_pasante" type="number" min="0.0001"
                                            step="any" placeholder="y [> 0] " />
                                        <div class="invalid-feedback">Ingrese un valor de tirante mayor a cero</div>
                                    </div>
                                </div>
                                <div class="col-md-3 trape">
                                    <div class="form-group">
                                        <label for="talud_pasante" class="small mb-1">Talud zp</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.talud_pasante}}" {% endif %} required min="0.0001" step="any"
                                            type="number" name="talud_pasante" id="talud_pasante"
                                            class="trape-input form-control" placeholder="z [> 0]">
                                        <div class="invalid-feedback">Ingrese un valor de talud mayor a cero</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="cota_b" class="small mb-1">Cota B (m)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.cota_b}}" {% endif %} required min="0" step="any"
                                            type="number" name="cota_b" id="cota_b" class="form-control"
                                            placeholder="Cota [≥ 0]">
                                        <div class="invalid-feedback">Ingrese un valor de cota B mayor o igual a cero
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="mt-0 mb-2 oculto d-none">
                            <h1 class="oculto d-none" style="font-size: 20px;font-weight:bold;">
                                Canal Saliente (Cs)
                            </h1>
                            <hr class="mt-0 mb-2 oculto d-none">


                            <div class="form-row oculto d-none">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="caudal_saliente">Caudal Qs (m³/s)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.caudal_saliente}}" {% endif %} required
                                            class="form-control caudal" id="caudal_saliente" name="caudal_saliente"
                                            type="number" min="0.0001" max="0.5" step="any" placeholder="Qs [≤ 0.5]" />
                                        <div class="caudal-error invalid-feedback">Ingrese un valor de caudal mayor a
                                            cero y menor o
                                            igual a
                                            0.5 m³/s</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="base_saliente">Base del canal bs (m)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.base_saliente}}" {% endif %} required class="form-control"
                                            id="base_saliente" name="base_saliente" type="number" min="0.0001"
                                            step="any" placeholder="b [> 0]" />
                                        <div class="invalid-feedback">Ingrese un valor de Base del canal mayor a cero
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="tirante_saliente">Tirante ys (m)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.tirante_saliente}}" {% endif %} required class="form-control"
                                            id="tirante_saliente" name="tirante_saliente" type="number" min="0.0001"
                                            step="any" placeholder="y [> 0] " />
                                        <div class="invalid-feedback">Ingrese un valor de tirante mayor a cero</div>
                                    </div>
                                </div>
                                <div class="col-md-3 trape">
                                    <div class="form-group">
                                        <label for="talud_saliente" class="small mb-1">Talud zs</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.talud_saliente}}" {% endif %} required min="0.0001" step="any"
                                            type="number" name="talud_saliente" id="talud_saliente"
                                            class="trape-input form-control" placeholder="z [> 0]">
                                        <div class="invalid-feedback">Ingrese un valor de talud mayor a cero</div>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label for="cota_c" class="small mb-1">Cota C (m)</label>
                                        <input {% if history %} disabled {% endif %} {% if data %}
                                            value="{{data.cota_c}}" {% endif %} required min="0" step="any"
                                            type="number" name="cota_c" id="cota_c" class="form-control"
                                            placeholder="Cota [≥ 0]">
                                        <div class="invalid-feedback">Ingrese un valor de cota C mayor o igual a cero
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if not history %}
                            <div class="form-group mt-4 mb-0 oculto d-none"><button type="submit"
                                    class="btn btn-primary btn-block">Calcular</button></div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if resultados %}
        <div class="row" id="toScroll">
            <div class="col-md-12">
                <div class="car mb-4">
                    <div class="card-body">
                        <!-- Resultados solo trapezoidal -->
                        <h1 class="trape d-none" style="font-size: 20px;font-weight:bold;">Resultados para el canal
                            entrante</h1>
                        <hr class="trape d-none">
                        <div class="form-row trape d-none">
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Velocidad V (m/s)</label>
                                    <input disabled name="velocidad_trape" id="velocidad_trape" class="form-control"
                                        value="{{resultados.velocidad_trape}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Energía especifica E
                                        (m)</label>
                                    <input disabled name="energia_trape" id="energia_trape" class="form-control"
                                        value="{{resultados.energia_trape}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">
                                        Tirante crítico Yc (m)
                                    </label>
                                    <input disabled name="ycrt_trape" id="ycrt_trape" class="form-control"
                                        value="{{resultados.ycrt_trape}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Energía crítica Ec (m)</label>
                                    <input disabled name="ecrt_trape" id="ecrt_trape" class="form-control"
                                        value="{{resultados.ecrt_trape}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row trape d-none">
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Tirante partidor yp (m)</label>
                                    <input disabled name="tirante_partidor" id="tirante_partidor"
                                        class="form-control mt-md-3" value="{{resultados.tirante_partidor}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Longitud transición Lt
                                        (m)</label>
                                    <input disabled name="long_transicion" id="long_transicion" class="form-control"
                                        value="{{resultados.long_transicion}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Longitud transición pasante Lp
                                        (m)</label>
                                    <input disabled name="long_transicionp" id="long_transicionp" class="form-control"
                                        value="{{resultados.long_transicionp}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Longitud transición saliente Ls
                                        (m)</label>
                                    <input disabled name="long_transicions" id="long_transicions" class="form-control"
                                        value="{{resultados.long_transicions}}">
                                </div>
                            </div>
                        </div>
                        <!-- Resto resultados -->
                        <h1 id="tituloVariable" style="font-size: 20px;font-weight:bold;">Resultados para el canal
                            entrante</h1>
                        <hr>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group"><label for="velocidad" class="small mb-1">Velocidad V
                                        (m/s)</label>
                                    <input disabled name="velocidad" id="velocidad" class="form-control"
                                        value="{{resultados.velocidad}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="energia_especifica" class="small mb-1">Energía
                                        especifica E
                                        (m)</label>
                                    <input disabled name="energia_especifica" id="energia_especifica"
                                        class="form-control" value="{{resultados.energia_especifica}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="tirante_critico" class="small mb-1">
                                        Tirante crítico Yc (m)
                                    </label>
                                    <input disabled name="tirante_critico" id="tirante_critico" class="form-control"
                                        value="{{resultados.tirante_critico}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="energia_critica" class="small mb-1">Energía crítica
                                        Ec (m)</label>
                                    <input disabled name="energia_critica" id="energia_critica" class="form-control"
                                        value="{{resultados.energia_critica}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="froude" class="small mb-1">No. Froude (m)</label>
                                    <input disabled name="froude" id="froude" class="form-control"
                                        value="{{resultados.froude}}">
                                </div>
                            </div>
                        </div>
                        <h1 style="font-size: 20px;font-weight:bold;">Resultados para el partidor</h1>
                        <hr>
                        <div class="form-row">
                            <div class="col-md-3 movil d-none">
                                <div class="form-group">
                                    <label for="angulo_inclinacion" class="small mb-1">
                                        Ángulo inclinación de la hoja
                                        metalica (α º)
                                    </label>
                                    <input disabled name="angulo_inclinacion" id="angulo_inclinacion"
                                        class="form-control" value="{{resultados.angulo_inclinacion}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="longitud_lamina" class="small mb-1">
                                        Longitud de la lámina L(m)
                                    </label>
                                    <input disabled name="longitud_lamina" id="longitud_lamina" class="form-control"
                                        value="{{resultados.longitud_lamina}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="altura_vertedero" class="small mb-1">
                                        Altura vertedero Hv (m)
                                    </label>
                                    <input disabled name="altura_vertedero" id="altura_vertedero"
                                        class="form-control mt-md-3" value="{{resultados.altura_vertedero}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="carga_hidraulica" class="small mb-1">
                                        Carga hidráulica H1 (m)
                                    </label>
                                    <input disabled name="carga_hidraulica" id="carga_hidraulica"
                                        class="form-control mt-md-3" value="{{resultados.carga_hidraulica}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ancho_vertedero" class="small mb-1">
                                        Ancho vertedero e (m)
                                    </label>
                                    <input disabled name="ancho_vertedero" id="ancho_vertedero"
                                        class="form-control mt-md-3" value="{{resultados.ancho_vertedero}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="long_vertedero_max" class="small mb-1">
                                        Longitud máxima vertedero Lv (m)
                                    </label>
                                    <input disabled name="long_vertedero_max" id="long_vertedero_max"
                                        class="form-control" value="{{resultados.long_vertedero_max}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Ancho_qpasante" class="small mb-1">
                                        Ancho para Qp b2 (m)
                                    </label>
                                    <input disabled name="Ancho_qpasante" id="Ancho_qpasante"
                                        class="form-control mt-md-3" value="{{resultados.Ancho_qpasante}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Ancho_qsaliente" class="small mb-1">
                                        Ancho para Qs b3 (m)
                                    </label>
                                    <input disabled name="Ancho_qsaliente" id="Ancho_qsaliente"
                                        class="form-control mt-md-3" value="{{resultados.Ancho_qsaliente}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="prof_colchon" class="small mb-1">
                                        Profundida colchón Δz (m)
                                    </label>
                                    <input disabled name="prof_colchon" id="prof_colchon" class="form-control"
                                        value="{{resultados.prof_colchon}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="long_colchon" class="small mb-1">
                                        Longitud colchón Lc (m)
                                    </label>
                                    <input disabled name="long_colchon" id="long_colchon" class="form-control"
                                        value="{{resultados.long_colchon}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="carga_hidraulicap" class="small mb-1">
                                        Carga hidraulica Hp (m)
                                    </label>
                                    <input disabled name="carga_hidraulicap" id="carga_hidraulicap"
                                        class="form-control mt-md-3" value="{{resultados.carga_hidraulicap}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="carga_hidraulicas" class="small mb-1">
                                        Carga hidráulica Hs (m)
                                    </label>
                                    <input disabled name="carga_hidraulicas" id="carga_hidraulicas"
                                        class="form-control mt-md-3" value="{{resultados.carga_hidraulicas}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cota_1" class="small mb-1">
                                        Cota 1 (m)
                                    </label>
                                    <input disabled name="cota_1" id="cota_1" class="form-control "
                                        value="{{resultados.cota_1}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cota_2" class="small mb-1">
                                        Cota 2 (m)
                                    </label>
                                    <input disabled name="cota_2" id="cota_2" class="form-control"
                                        value="{{resultados.cota_2}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cota_3" class="small mb-1">
                                        Cota 3 (m)
                                    </label>
                                    <input disabled name="cota_3" id="cota_3" class="form-control"
                                        value="{{resultados.cota_3}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cota_4" class="small mb-1">
                                        Cota 4 de Cp (m)
                                    </label>
                                    <input disabled name="cota_4" id="cota_4" class="form-control"
                                        value="{{resultados.cota_4}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cota_5" class="small mb-1">
                                        Cota 5 de Cs (m)
                                    </label>
                                    <input disabled name="cota_5" id="cota_5" class="form-control"
                                        value="{{resultados.cota_5}}">
                                </div>
                            </div>
                        </div>

                        <!-- Condiciones de diseño -->
                        <div class="form-row">
                            <div class="col-md-12">
                                <p class="red mb-0"> <b>Condiciones de Diseño:</b></p>
                                <ul>
                                    <li>
                                        Froude < 0.45 <i class="fa fa-arrow-right" aria-hidden="true"></i> para
                                            garantizar flujo subcritico antes de la división de caudal
                                    </li>
                                    <li>
                                        Si H1/H2 < 0.8 <i class="fa fa-arrow-right" aria-hidden="true"></i> Existe flujo
                                            libre en el canal pasante
                                    </li>
                                    <li>
                                        Si H1/H3 < 0.8 <i class="fa fa-arrow-right" aria-hidden="true"></i> Existe flujo
                                            libre en el canal saliente
                                    </li>
                                    <li>
                                        Si Hv < 0.3 <i class="fa fa-arrow-right" aria-hidden="true"></i> No es necesario
                                            determinar Lc y espesor del colchón amortiguador
                                            <!-- ya que Hv es menor a 0.3 cm -->

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="col-md-5">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row rect">
                    <div class="col-md-12 imagen"><img style="width: inherit;" src="/static/images/canalR.png"
                            alt="Sección Transversal del canal">
                        <div class="mt-3 mb-5">Sección transversal del canal rectangular</div>
                    </div>
                </div>
                <div class="row trape">
                    <div class="col-md-12 imagen"><img style="width: inherit;" src="/static/images/canaltrapez.png"
                            alt="Sección Transversal del canal">
                        <div class="mt-3 mb-5">Sección transversal del canal trapezoidal</div>
                    </div>
                </div>
                <div class="row movil d-none">
                    <div class="col-md-12 imagen"><img style="width: inherit;" src="/static/images/movilColor.png"
                            alt="Parametros partidor movil. Vista en planta">
                        <div class="mt-3 mb-5">Parametros partidor móvil. Vista en planta</div>
                    </div>
                </div>
                <div class="row fijo d-none">
                    <div class="col-md-12 imagen"><img style="width: inherit;"
                            src="/static/images/partidorPlantaColor.png" alt="Parametros partidor. Vista en planta">
                        <div class="mt-3 mb-5">Parametros partidor. Vista en planta</div>
                    </div>
                </div>
                <div class="row perfil d-none">
                    <div class="col-md-12 imagen"><img style="width: inherit;" src="/static/images/partidorPerfil.png"
                            alt="Parametros partidos. Vista en perfil">
                        <div class="mt-3 mb-5">Parametros partidor. Vista en perfil</div>
                    </div>
                </div>
                <div class="row movilR d-none">
                    <div class="col-md-12 imagen"><img style="width: inherit;" id="movilR" src="#"
                            alt="Ángulo de inclinación">
                        <div class="mt-3 mb-5">Parametros partidor móvil. Ángulo de inclinación lámina de acero</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extraJs %}
<script>
    $(document).ready(function () {
        $('input[type=radio][name=tipoPart]').change(function () {
            if (this.value == 'movil') {
                $(".movil").removeClass('d-none');
                $(".fijo").addClass('d-none');
                $("#cota_1").removeClass('mt-md-3');
                $(".caudal").attr('min', '0.05');
                $(".caudal").attr('max', '0.63');
                $("#caudal_entrante").attr("placeholder", "[0.05≤Qe≤0.63]");
                $("#caudal_pasante").attr("placeholder", "[0.05≤Qp≤0.63]");
                $("#caudal_saliente").attr("placeholder", "[0.05≤Qs≤0.63]");
                $(".caudal-error").text("Ingrese un valor de caudal mayor a 0.05 y menor o igual a 0.63 m³/s")
            } else {
                $(".fijo").removeClass('d-none');
                $(".movil").addClass('d-none');
                $("#cota_1").addClass('mt-md-3');
                $(".caudal").attr('min', '0.0001');
                $(".caudal").attr('max', '0.5');
                $(".caudal-error").text("Ingrese un valor de caudal mayor a cero y menor o igual a 0.5 m³/s")
                $("#caudal_entrante").attr("placeholder", "Qe [≤ 0.5]");
                $("#caudal_pasante").attr("placeholder", "Qp [≤ 0.5]");
                $("#caudal_saliente").attr("placeholder", "Qs [≤ 0.5]");
            }
            $(".perfil").removeClass('d-none');
            $(".oculto").removeClass('d-none');

        });

        $('#base_entrante').change(function () {
            $("#long_vertedero").val(this.value)
        })

        $('input[type=radio][name=tipo]').change(function () {
            if (this.value == 'rectangular') {
                $(".rect").removeClass('d-none');
                $(".trape").addClass('d-none');
                $("#cota_a").addClass('mt-md-3');
                $(".trape-input").removeAttr('required');
            }
            else if (this.value == 'trapezoidal') {
                $(".trape").removeClass('d-none');
                $("#cota_a").removeClass('mt-md-3');
                $(".rect").addClass('d-none');
                $(".trape-input").attr('required', true);
            }
            $(".oculto_tipo").removeClass('d-none')
        });
    })
</script>

{% if data %}

<script>
    $(document).ready(function () {
        $(".oculto").removeClass('d-none');
        $(".perfil").removeClass('d-none');

        var tipo = $('input[type=radio][name=tipo][checked]').val();
        var tipoPart = $('input[type=radio][name=tipoPart][checked]').val();

        if (tipoPart == 'movil') {
            $(".movil").removeClass('d-none');
            $(".movilR").removeClass('d-none');
            $(".fijo").addClass('d-none');
            $(".caudal").attr('min', '0.05');
            $(".caudal").attr('max', '0.63');
            $(".caudal-error").text("Ingrese un valor de caudal mayor a 0.05 y menor o igual a 0.63 m³/s")
            $("#caudal_entrante").attr("placeholder", "[0.05≤Qe≤0.63]");
            $("#caudal_pasante").attr("placeholder", "[0.05≤Qp≤0.63]");
            $("#caudal_saliente").attr("placeholder", "[0.05≤Qs≤0.63]");

            var b2 = $("#Ancho_qpasante").val();
            var b3 = $("#Ancho_qsaliente").val();

            if (parseFloat(b2) > parseFloat(b3)) {
                $("#movilR").attr("src", "/static/images/laminaAcero1.png");
            } else if (parseFloat(b2) < parseFloat(b3)) {
                $("#movilR").attr("src", "/static/images/laminaAcero2.png");
            } else {
                $("#movilR").attr("src", "/static/images/laminaAcero3.png");
            }
            $("#cota_1").removeClass('mt-md-3');
        } else {
            $(".fijo").removeClass('d-none');
            $(".movil").addClass('d-none');
            $("#cota_1").addClass('mt-md-3');
            $(".caudal").attr('min', '0.0001');
            $(".caudal").attr('max', '0.5');
            $(".caudal-error").text("Ingrese un valor de caudal mayor a cero y menor o igual a 0.5 m³/s")
            $("#caudal_entrante").attr("placeholder", "Qe [≤ 0.5]");
            $("#caudal_pasante").attr("placeholder", "Qp [≤ 0.5]");
            $("#caudal_saliente").attr("placeholder", "Qs [≤ 0.5]");
        }

        if (tipo == 'rectangular') {
            $(".rect").removeClass('d-none');
            $(".trape").addClass('d-none');
            $("#cota_a").addClass('mt-md-3');
            $(".trape-input").removeAttr('required').val('');
            $("#tituloVariable").text("Resultados para el canal entrante y sobre el vertedero");

        }
        else if (tipo == 'trapezoidal') {
            $(".trape").removeClass('d-none');
            $("#cota_a").removeClass('mt-md-3');
            $(".rect").addClass('d-none');
            $(".trape-input").attr('required', true);
            $("#tituloVariable").text("Resultados para el vertedero");
        }
        $("html").animate(
            {
                scrollTop: $("#toScroll").offset().top
            },
            2000 //speed
        );
    })
</script>
{% endif %}


{% endblock %}