{% extends "base.html" %}

{% block content %}
<h1 class="mt-4">Vertedero de Cresta Larga </h1>
<hr style="border-top: 3px solid rgba(49, 165, 214, 0.5) !important">

<div class="row">
    <div class="col-md-7 pl-1 pr-0">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="/vertedero" method="POST" id="form" autocomplete="off" class="needs-validation"
                            novalidate>
                            <h1 class="display-1" style="font-size: 20px;font-weight:bold;">Sección Transversal del
                                Canal</h1>
                            <hr>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="mt-2">Seleccione el tipo de sección</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="inlineCheckbox1" name="tipo" {%
                                            if data %} {% if data.tipo=='rectangular' %} checked {% endif %} {% endif %}
                                            value="rectangular" {% if history %} disabled {% endif %}>
                                        <label class="form-check-label" for="inlineCheckbox1">Rectangular</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="inlineCheckbox2" name="tipo"
                                            value="trapezoidal" {% if data %} {% if data.tipo=='trapezoidal' %} checked
                                            {% endif %} {% endif %} {% if history %} disabled {% endif %}>
                                        <label class="form-check-label" for="inlineCheckbox2">Trapezoidal</label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-row oculto d-none">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="caudalDis">Caudal de diseño <br> <b>Qd</b>
                                            (m³/s)</label>
                                        <input style="padding-left: 9px !important;" required class="form-control "
                                            id="caudalDis" name="caudalDis" type="number" min="0" step="any" {% if
                                            history %} disabled {% endif %} placeholder="Qd" {% if data %}
                                            value="{{data.caudalDis}}" {% endif %} />
                                        <div id="mensajeCaudal" class="invalid-feedback">Ingrese un valor de caudal de
                                            diseño
                                            válido</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="base">Base del Canal <b>b</b> (m)</label>
                                        <input required class="form-control mt-3" id="base" name="base" type="number"
                                            min="0" step="any" placeholder="b []" {% if history %} disabled {% endif %}
                                            {% if data %} value="{{data.base}}" {% endif %} />
                                        <div id="mensajeBase" class="invalid-feedback">Ingrese un valor de base del
                                            canal válido
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" id="talud_form">
                                    <div class="form-group">
                                        <label class="small mb-1" for="talud">Talud <b>z</b></label>
                                        <input required class="form-control mt-3 " id="talud" name="talud" type="number"
                                            min="0.0001" step="0.0001" placeholder="z" {% if history %} disabled {%
                                            endif %} {% if data %} value="{{data.talud}}" {% endif %} />
                                        <div class="invalid-feedback">Ingrese un valor de talud válido</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="rugosidad">Rugosidad</label>
                                        <input required class="form-control mt-3 " id="rugosidad" name="rugosidad"
                                            type="number" min="0.0001" step="any" {% if history %} disabled {% endif %}
                                            placeholder="n" {% if data %} value="{{data.rugosidad}}" {% endif %} />
                                        <div class="invalid-feedback">Ingrese un valor de rugosidad válido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row oculto d-none">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="pendiente">Pendiente del canal</label>
                                        <input required class="form-control mt-3" id="pendiente" name="pendiente"
                                            type="number" min="0.0001" step="any" {% if history %} disabled {% endif %}
                                            placeholder="s [> 0] " {% if data %} value="{{data.pendiente}}" {% endif
                                            %} />
                                        <div class="invalid-feedback">Ingrese un valor de pendiente de canal mayor a
                                            cero</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="alturaMuro">Altura Muros <b>Hm</b> (m)</label>
                                        <input required class="form-control mt-3" id="alturaMuro" name="alturaMuro"
                                            type="number" min="0.0001" step="any" {% if history %} disabled {% endif %}
                                            placeholder="Hm [> 0]" {% if data %} value="{{data.alturaMuro}}" {% endif
                                            %} />
                                        <div class="invalid-feedback">Ingrese un valor de altura de muros mayor a cero
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="cotaA">Cota A (m)</label>
                                        <input required class="form-control mt-3 " id="cotaA" name="cotaA" type="number"
                                            min="0" step="any" placeholder="cota [≥ 0]" {% if data %}
                                            value="{{data.cotaA}}" {% endif %} {% if history %} disabled {% endif %} />
                                        <div class="invalid-feedback">Ingrese un valor de cota A mayor o igual a cero
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="small mb-1" for="carga">Carga Hidraulica <b>ΔH(m)</b> [0.05 - 0.10
                                            m]</label>
                                        <input required class="form-control" id="carga" name="carga" type="number"
                                            min="0.05" max="0.1" step="0.001" {% if history %} disabled {% endif %}
                                            placeholder="Δh" {% if data %} value="{{data.carga}}" {% endif %} />
                                        <div class="invalid-feedback">Ingrese un valor de carga válido </div>
                                    </div>
                                </div>
                            </div>
                            {% if not history %}

                            <div class="form-group mt-4 mb-0 oculto d-none"><button type="submit"
                                    class="btn btn-primary btn-block">Calcular</button></div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if resultados %}
        <div class="row">
            <div class="col-md-12">
                <div class="car mb-4">
                    <div class="card-body">
                        <h1 class="display-1" style="font-size: 20px;font-weight:bold;">Resultados del diseño</h1>
                        <hr>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Tirante Normal
                                        [<b>y1</b>,m]</label>
                                    <input disabled name="" id="" class="form-control"
                                        value="{{resultados.tirante_normal}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Tirante Crítico [<b>yc</b>,
                                        m]</label>
                                    <input disabled name="" id="" class="form-control"
                                        value="{{resultados.tirante_critico}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1"><span
                                            class="red"><b>*</b></span>Velocidad [<b>V</b>, m/s]</label>
                                    <input disabled name="" id="" class="form-control" value="{{resultados.velocidad}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Borde Libre [<b>Bl</b>,
                                        m]</label>
                                    <input disabled name="" id="" class="form-control"
                                        value="{{resultados.borde_libre}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Número de Froude
                                        [<b>F</b>]</label>
                                    <input disabled name="" id="" class="form-control mt-3"
                                        value="{{resultados.froude}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Energía Especifica <br>
                                        [<b>E1</b>, m]</label>
                                    <input disabled name="" id="" class="form-control" value="{{resultados.energia}}">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1"><span
                                            class="red"><b>*</b></span>Ángulo [<b>θ</b>]</label>
                                    <input disabled name="" id="" class="form-control mt-3"
                                        value="{{resultados.angulo}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Altura vertedero <br>
                                        [<b>Hv</b>, m]</label>
                                    <input disabled name="" id="" class="form-control " value="{{resultados.altura}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Ancho Entrada [<b>T</b>,
                                        m]</label>
                                    <input disabled name="" id="" class="form-control mt-3"
                                        value="{{resultados.ancho}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Tirante Final [<b>y2</b>,
                                        m]</label>
                                    <input disabled name="" id="" class="form-control mt-3"
                                        value="{{resultados.tirante_final}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Longitud Total [<b>Lt</b>,
                                        m]</label>
                                    <input disabled name="" id="" class="form-control"
                                        value="{{resultados.longitud_total}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Longitud 1 [<b>L1</b>,
                                        m]</label>
                                    <input disabled name="" id="" class="form-control"
                                        value="{{resultados.longitud_1}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Longitud 2 [<b>L2</b>,
                                        m]</label>
                                    <input disabled name="" id="" class="form-control"
                                        value="{{resultados.longitud_2}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Longitud 3 [<b>L3</b>,
                                        m]</label>
                                    <input disabled name="" id="" class="form-control"
                                        value="{{resultados.longitud_3}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Desnivel [<b>ΔZ</b>, m]</label>
                                    <input disabled name="" id="" class="form-control mt-3"
                                        value="{{resultados.desnivel}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Caudal [<b>Qv</b>,
                                        m³/s]</label>
                                    <input disabled name="" id="" class="form-control mt-3"
                                        value="{{resultados.caudal}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1">Velocidad Vertedero
                                        <br>[<b>Vv</b>, m/s]</label>
                                    <input disabled name="" id="" class="form-control"
                                        value="{{resultados.velocidad_vertedero}}">
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1"><b>Cota A</b></label>
                                    <input disabled name="" id="" class="form-control" value="{{resultados.cotaA}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1"><b>Cota B</b> </label>
                                    <input disabled name="" id="" class="form-control" value="{{resultados.cotaB}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1"><b>Cota C</b></label>
                                    <input disabled name="" id="" class="form-control" value="{{resultados.cotaC}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"><label for="" class="small mb-1"><b>Cota D</b></label>
                                    <input disabled name="" id="" class="form-control" value="{{resultados.cotaD}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <p class="red mb-0"> <b>*Condiciones de Diseño:</b></p> <b>V ≤ 1.0 m/s</b><br>
                                <b>45° < θ < 70°</b> <br>
                                        En caso de no cumplirse, verificar relación entre Qd y b y/o modificar ΔH
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-5">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row rect">
                    <div class="col-md-12 imagen"><img style="width: inherit;" src="/static/images/canalR.png"
                            alt="Sección Transversal del canal">
                        <div>Sección Transversal del canal rectangular</div>
                    </div>
                </div>
                <div class="row rect d-none">
                    <div class="col-md-12 imagen"><img style="width: 100%;" src="/static/images/patoRect.png"
                            alt="Vista en planta del vertedero">
                        <div style=" width: 100%">Parametros Vertedero. Vista en planta</div>
                    </div>
                </div>
                <div class="row trape">
                    <div class="col-md-12 imagen"><img style="width: inherit;" src="/static/images/canaltrapez.png"
                            alt="Sección Transversal del canal">
                        <div>Sección Transversal del canal trapezoidal</div>
                    </div>
                </div>
                <div class="row trape d-none">
                    <div class="col-md-12 ml-5 imagen"><img style="width: 75%;" src="/static/images/patoTrape.png"
                            alt="Vista en planta del vertedero">
                        <div style="margin-left: -14% !important; width: 100%">Parametros Vertedero. Vista en planta
                        </div>
                    </div>
                </div>
                <div class="row d-none perfil">
                    <div class="col-md-12 imagen"><img style="width: inherit;" src="/static/images/vertedero.png"
                            alt="Vista en perfil del vertedero">
                        <div>Parametros Vertedero. Vista en perfil</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extraJs %}
<script>
    $(document).ready(function () {
        $('input[type=radio][name=tipo]').change(function () {
            if (this.value == 'rectangular') {
                $(".rect").removeClass('d-none');
                $(".perfil").removeClass('d-none');
                $(".trape").addClass('d-none');
                //Validaciones Caudal
                $("#caudalDis").attr('placeholder', 'Qd [≥ 0.05]');
                $("#caudalDis").attr('min', '0.05');
                $("#mensajeCaudal").text('El caudal del canal rectangular debe ser mayor o igual a 0.05 m³/s');

                //Validaciones base canal
                $("#base").attr('placeholder', 'b [≥ 0.72]');
                $("#base").attr('min', '0.72');
                $("#mensajeBase").text('La base del canal rectangular debe ser mayor o igual a 0.72 m');

                //ocultar talud
                $("#talud_form").addClass('d-none');
                $("#talud").attr('min', '0');
                $("#talud").val(0);
            }
            else if (this.value == 'trapezoidal') {
                $(".trape").removeClass('d-none');
                $(".rect").addClass('d-none');
                $(".perfil").removeClass('d-none');
                //Validaciones Caudal
                $("#caudalDis").attr('placeholder', 'Qd [≥ 0.03]');
                $("#caudalDis").attr('min', '0.03');
                $("#mensajeCaudal").text('El caudal del canal trapezoidal debe ser mayor o igual a 0.03 m³/s');

                //Validaciones base canal
                $("#base").attr('placeholder', 'b [≥ 0.70]');
                $("#base").attr('min', '0.70');
                $("#mensajeBase").text('La base del canal trapezoidal debe ser mayor o igual a 0.70 m');

                //mostrar talud
                $("#talud_form").removeClass('d-none');
                $("#talud").attr('min', '0.0001');
                $("#talud").val('');
            }
            $(".oculto").removeClass('d-none')
        });
    })
</script>
{% if data%}
<script>
    $(document).ready(function () {
        var tipo = $('input[type=radio][name=tipo][checked]').val();

        if (tipo == 'rectangular') {
            $(".rect").removeClass('d-none');
            $(".perfil").removeClass('d-none');
            $(".trape").addClass('d-none');
            //Validaciones Caudal
            $("#caudalDis").attr('placeholder', 'Qd [≥ 0.05]');
            $("#caudalDis").attr('min', '0.05');
            $("#mensajeCaudal").text('El caudal del canal rectangular debe ser mayor o igual a 0.05 m³/s');

            //Validaciones base canal
            $("#base").attr('placeholder', 'b [≥ 0.72]');
            $("#base").attr('min', '0.72');
            $("#mensajeBase").text('La base del canal rectangular debe ser mayor o igual a 0.72 m');

            //ocultar talud
            $("#talud_form").addClass('d-none');
            $("#talud").attr('min', '0');
        }
        else if (tipo == 'trapezoidal') {
            $(".trape").removeClass('d-none');
            $(".perfil").removeClass('d-none');
            $(".rect").addClass('d-none');
            //Validaciones Caudal
            $("#caudalDis").attr('placeholder', 'Qd [≥ 0.03]');
            $("#caudalDis").attr('min', '0.03');
            $("#mensajeCaudal").text('El caudal del canal trapezoidal debe ser mayor o igual a 0.03 m³/s');

            //Validaciones base canal
            $("#base").attr('placeholder', 'b [≥ 0.70]');
            $("#base").attr('min', '0.70');
            $("#mensajeBase").text('La base del canal trapezoidal debe ser mayor o igual a 0.70 m');

            //mostrar talud
            $("#talud_form").removeClass('d-none');
            $("#talud").attr('min', '0.0001');
        }
        $(".oculto").removeClass('d-none')
    })
</script>
{% endif %}
{% endblock %}